// features section
#features{
    padding-top: 30px ;
    margin: 0 50px; 
}

.features{
    &-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        top: 0;
        // align-content: flex-start ;

    }
    &-text_1{
        width: 500px;
        margin: 0 auto ;
        // margin-top: 10px;
        margin-bottom: 50px;

        h1{
            font-size: 40px;
            font-weight: 700;
            color: $veryDarkBlue;
        }
        p{
            color: $darkGrayishBlue;
        }

    }
    &-text_2{
        display: flex;
        width: 500px;
        margin: 20px auto; 

        .numbering{
            margin-right: 20px;
        }
    }
}