#signup{
    // position: absolute;
    background-image: url(../images/bg-simplify-section-desktop.svg);
    background-color: $brightRed;
    padding: 50px 0;
    margin: auto;
    // max-width: 100%;
    // width: 100%;

    .counter{
        display: flex;
    justify-content: space-evenly;
        margin: 0 1rem
        // flex-direction: column;
    }

    .signup-container{
        color: $veryLightGray;
        max-width: 100%;
        margin: 0 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .signup-text h1{
        max-width: 450px;
        width: auto;
        font-weight: 700;
        font-size: 2.2rem;
    }
    .signup-btn button{
    color: $brightRed;    
    text-align: center;
    font-family: inherit;
    font-weight: 700;
    font-size: 15px;
    border-radius: 30px;
    padding: 12px;
    border: none;
    margin-left: 2.6rem;
    cursor: pointer;
    padding: 13px 40px;
    background-color: $veryLightGray;
    }

}