#signup{
    // position: absolute;
    background-image: url(../images/bg-simplify-section-desktop.svg);
    background-color: $brightRed;
    padding: 80px 0;
    margin: auto;

    .signup-container{
        color: blanchedalmond;
    }

}