// ## Colors
// ### Primary
$brightRed: hsl(12, 100%, 52%);
$darkBlue: hsl(228, 39%, 23%);

// ### Neutral
$darkGrayishBlue: hsl(227, 12%, 61%);
$veryDarkBlue: hsl(233, 12%, 13%);
$veryPaleRed: hsl(13, 100%, 96%);
$veryLightGray: hsl(0, 0%, 98%);


$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);



